<link rel="stylesheet" href="/css/contactsPageStyles.css">
<button onclick="window.location.href = '/dashboard';">Go Back</button>
<% let title="add contact"; %>
<%= typeof msg != 'undefined' ? msg : '' %>
  <!-- Contact cards div -->
  <div class="contact-cards-container" id="contactContainer">
    <!-- Card container 1-->
    <%for(var i=0;i<contacts.length;i++){%>
    <div class="card-box">
      <div class="info-column">
        <span><b><%= contacts[i].name%></b></span>
        <span><%= contacts[i].relationship%></span>
      </div>
      <div class="info-column">
        <span><b>Phone Number</b></span>
        <span>+91-<%= contacts[i].phone%></span>
      </div>
      <div class="info-column">
        <span><b>Email ID</b></span>
        <span><%= contacts[i].email%></span>
      </div>
      <button onclick="addContact(0,<%=i%>);">EDIT</button>
      <a href="/users/contacts/delete/<%= contacts[i].contactID %>">DELETE</a>
    </div>
    <%}%>


  <!-- Add contact modal -->
  <div class="modal-container" style="display: none;" id="modal-container">
    <div class="modal">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <h2 id="form-title"></h2>
      <!-- <h2> ADD A NEW CONTACT(s)</h2> -->
      <h2 onclick="closeModal()" style="cursor: pointer;">&times;</h2>
    </div>
      <form class="modal-form" method="POST" action="/users/contacts">
        
        <div>
          <label>Name : </label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter Name"
          />
        </div>
        <div>
        <label>Relationship : </label>
        <input
          type="text"
          name="relationship"
          id="relationship"
          placeholder="Enter Relationship"
        />
      </div>
      <div>
        <label>Phone Number : </label>
        <input
          type="text"
          name="phone"
          id="phone"
          placeholder="Phone Number"
        />
      </div>
      <div>
        <label>Email ID : </label>
        <input type="email" name="email" id="email" placeholder="Email ID" />
      </div>
      <button type="submit">Save</button>
      </form>
    </div>
  </div>
  <!-- Add contact button -->
  <div style="display: flex; justify-content: center;">
    <button class="button" onclick="addContact(1)">Add Contact</button>
  </div>

<script>const addContact = (val,i) => {
  const title = document.getElementById('form-title');
  if(!val){
    title.innerHTML= "Edit contact";
    const modal = document.getElementById("modal-container");
    modal.style.display = "flex";
    modal.style.animation = "modalFadeIn 0.5s";
    document.getElementById("name").setAttribute("value", <%- JSON.stringify(contacts) %>[i].name);
    document.getElementById("relationship").setAttribute("value", <%- JSON.stringify(contacts) %>[i].relationship);
    document.getElementById("phone").setAttribute("value", <%- JSON.stringify(contacts) %>[i].phone);
    document.getElementById("email").setAttribute("value", <%- JSON.stringify(contacts) %>[i].email);
    const form = document.getElementsByTagName("form")[0];
    form.action = `/users/contacts/${<%- JSON.stringify(contacts) %>[i].contactID}`
  }
  else{
    title.innerHTML= "Add contact";
    

    const modal = document.getElementById("modal-container");
    modal.style.display = "flex";
    modal.style.animation = "modalFadeIn 0.5s";

  }
  }
  
  const closeModal = () => {
    const modal = document.getElementById("modal-container");
    modal.style.animation = "modalFadeOut 0.5s";
    setTimeout(() => {
      modal.style.display = "none";
    }, 400);
  }</script>