<%= title %>


  <form class="modal-form" 
  <% if(contact){ %>
    action="/users/contacts/<%= contact.contactID %>"
    <% }else{%>
    action="/users/contacts"
    <%}%>
   method="POST" >
    <input type="hidden"
    name="contactID"
    <% if(contact){ %>
      value = <%= contact.contactID %>
      <% }else{%>
        value=''
      <%}%>
    >
    <div>
      <label>Name : </label>
      <input
        <% if(contact){ %>
        value = <%= contact.name %>
        <% }else{%>
        <%}%>
        type="text"
        name="name"
        id="name"
        placeholder="Enter Name"
      />
    </div>
  <div>
    <label>Phone Number : </label>
    <input
    <% if(contact){ %>
      value = <%= contact.phone1 %>
      <% }else{%>
      <%}%>
    type="text"
      name="phone1"
      id="phone"
      placeholder="Phone Number"
    />
  </div>
  <div>
    <label>Phone Number2 : </label>
    <input
    <% if(contact){ %>
      value = <%= contact.phone2 %>
      <% }else{%>
      <%}%>

      type="text"
      name="phone2"
      id="phone"
      placeholder="Phone Number"
    />
  </div>
  <div>
    <label>Email ID : </label>
    <input type="text" 
    <% if(contact){ %>
      value = <%= contact.email %>
      <% }else{%>
      <%}%>
  name="email" id="email" placeholder="Email ID" />
  </div>
  <button type="submit">save Contact</button>
  
  </form>
