<%=title%>

<% for(var i=0; i<contacts.length; i++){ %>
  <%= contacts[i].name%>
  <%= contacts[i].phone1 %>
  <%= contacts[i].phone2 %>

  <a href="/users/contacts/<%= contacts[i].contactID %>">EDIT</a>
  <a href="/users/contacts/delete/<%= contacts[i].contactID %>">DELETE</a>
    <br>
<%}%>
